<link rel="stylesheet" href="/css/style.css">
<!-- 
<div class="menu"><i class="fa-solid fa-bars"></i></div>

<div class="navigation ">
  <ul>
    <li><a href="">HOME</a></li>
    <li><a href="">IMAGE TOOL</a></li>
    <li><a href="">CONTACT</a></li>
  </ul>
</div> -->

<div class="main" style="
  margin-top: 0px;
  ">
      <p class="subhead">IMAGE TOOL</p>
      <h3>IMAGE AI is an AI system that can create realistic images and art from a description in natural language.</h3>
      <p class="caption">Enter detailed description of your image.</p>
      <div class="search">
        <input type="text" name="" id="" placeholder="purple fur monster over blue moon" class="searchBar">
        <input type="submit" value="Generate" class="btn">
        <h1><%= titleRender %></h1>
        <div class="line"></div>
      </div>


      <div class="imgGal">
        <div class="imgBox">
          <img src="./images/exapmle/robo.png" alt="">
          <div class="overlay">
            <div class="details">
              <h3 class="head"><a href="#">DOWANLOAD</a></h3>
            </div>
          </div>
        </div>

        <div class="imgBox">
          <img src="./images/exapmle/pnikSky.png" alt="">
          <div class="overlay">
            <div class="details">
            <h3 class="head"><a href="#">DOWANLOAD</a></h3>
            </div>
          </div>
        </div>


        <div class="imgBox">
          <img src="./images/exapmle/dog.png" alt="">
          <div class="overlay">
            <div class="details">
              <h3 class="head"><a href="#">DOWANLOAD</a></h3>
            </div>
          </div>
        </div>


        <div class="imgBox">
          <img src="./images/exapmle/monkey.png" alt="">
          <div class="overlay">
            <div class="details">
              <h3 class="head"><a href="#">DOWANLOAD</a></h3>
            </div>
          </div>
        </div>


        <div class="imgBox">
          <img src="./images/exapmle/bowl.png" alt="">
          <div class="overlay">
            <div class="details">
              <h3 class="head"><a href="#">DOWANLOAD</a></h3>
            </div>
          </div>
        </div>

        <div class="imgBox">
          <img src="./images/exapmle/robo.png" alt="">
          <div class="overlay">
            <div class="details">
              <h3 class="head"><a href="#">DOWANLOAD</a></h3>
            </div>
          </div>
        </div>

        <div class="imgBox">
          <img src="./images/exapmle/pnikSky.png" alt="">
          <div class="overlay">
            <div class="details">
              <h3 class="head"><a href="#">DOWANLOAD</a></h3>
            </div>
          </div>
        </div>


        <div class="imgBox">
          <img src="./images/exapmle/dog.png" alt="">
          <div class="overlay">
            <div class="details">
              <h3 class="head"><a href="#">DOWANLOAD</a></h3>
            </div>
          </div>
        </div>


        <div class="imgBox">
          <img src="./images/exapmle/monkey.png" alt="">
          <div class="overlay">
            <div class="details">
              <h3 class="head"><a href="#">DOWANLOAD</a></h3>
            </div>
          </div>
        </div>
      </div>

      <footer>
        <div class="wave wave4"></div>
        <div class="wave1 wave"></div>
        <div class="wave2 wave"></div>
        <div class="wave wave3"></div>
        
        <div class="footCon">
          <h2>LET's WORK TOGETHER</h2>
          <ul class="social">
            <li><a href="https://github.com/ayushssshhh?tab=repositories"><i class="fa-brands fa-github"></i></a></li>
            <li><a href="https://www.linkedin.com/in/kumar-ayush-3b8a27240/"><i class="fa-brands fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa-solid fa-envelope"></i></a></li>
          </ul>

          <p>©2023 ayushssshhh || POWERED BY OPEN AI || PERSONAL PROJECT</p>
        </div>
      </footer>
    </div>